


body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-div {
    user-select: none;
}

.cell {
    /** Color is decided in script.js */
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 3px;
}

@keyframes fill-in-animation {
    0% {
        background-size: 0% 0%;
    }

    100% {
        background-size: 100% 100%;
    }
}

@keyframes unfill-animation {
    0% {
        background-size: 100% 100%;
    }

    100% {
        background-size: 0% 0%;
    }
}

/* TESTING STUFF TODO: remove */
.btn {
    font-size: 40px;
}