@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.legend {
    display: flex;
}

.legend > ul {
    list-style-type: none;
}

.legend li {
    display: block;
}


.legend-color {
    width: 10px;
    height: 10px;
    border: 2px solid black;
    display: inline-block;
}

.legend-label {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    display: inline;
    margin: 10px;
}

.start {

}

.end {

}

.obstacle {

}



.grid-div {
    user-select: none;
}

.cell {
    /** Color is decided in script.js */
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* border-radius: 3px; */
    background-image: border-radius 3px;
    position: relative;
}


.score {
    position: absolute;
    padding: 0 .3em;
    font-family: "Roboto", sans-serif;
    /* font-size: 0.3em; */
  }

  .g-score {
    bottom: 0;
    left: 0;
  }

  .h-score {
    bottom: 0;
    right: 0;
  }

  .f-score {
    top: 0;
    left: 0;
  }

@keyframes fill-in-animation {
    0% {
        background-size: 0% 0%;
    }

    100% {
        background-size: 100% 100%;
    }
}

@keyframes unfill-animation {
    0% {
        background-size: 100% 100%;
    }

    100% {
        background-size: 0% 0%;
    }
}

/* TESTING STUFF TODO: remove */
.btn {
    font-size: 40px;
}


